[Unit]
Description=wqm server
After=network.target

[Service]
ExecStart=/usr/local/bin/wqm
Type=exec
Restart=on-failure

[Install]
WantedBy=default.target
